body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.bd-navbar {
  min-height: 4rem;
  background-color: #5c6e7c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.horizontal-center {
  display: inline-block;
  left: 0;
  transform: translateX(50%);
}

.footer-bar {
  min-height: 4rem;
  background-color: #5c6e7c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
  color: #37404b;
}

.footer-text {
  height: 1em;
  line-height: 1em;
}

.grid-0 {
  height: 10px;
}
.grid-2 {
  height: 100px;
}

.grid-3 {
  height: 150px;
}

.grid-4 {
  height: 200px;
}

.grid-5 {
  height: 250px;
}

.grid-6 {
  height: 300px;
}

.grid-7 {
  height: 350px;
}

